/*             Custom Fonts           */

@font-face {
  font-family: "Visby Round CF";
  src: url("./fonts/VisbyRoundCF-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Visby Round CF";
  src: url("./fonts/VisbyRoundCF-ExtraLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Visby Round CF";
  src: url("./fonts/VisbyRoundCF-Heavy.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Visby Round CF";
  src: url("./fonts/VisbyRoundCF-DemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Visby Round CF";
  src: url("./fonts/VisbyRoundCF-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Visby Round CF";
  src: url("./fonts/VisbyRoundCF-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("./fonts/VisbyRoundCF-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("./fonts/VisbyRoundCF-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/*            themes                 */

#light {
  --text-color: rgb(0, 0, 0);
  --background-color: rgb(255, 255, 255);
  --nav-background-color: rgba(255, 255, 255, 0.8);
  --svg-invert: invert(0);
  --text-hover-color: rgb(135, 105, 255);
  --research-info-color: rgba(255, 255, 255, 0.7);
  --grey: rgb(236, 239, 244);
  --box-shadow: rgba(0, 0, 0, 0.5);
}
#dark {
  --text-color: rgb(255, 255, 255);
  --background-color: rgb(0, 0, 0);
  --nav-background-color: rgba(0, 0, 0, 0.8);
  --svg-invert: invert(100%);
  --text-hover-color: rgb(135, 105, 255);
  --research-info-color: rgba(0, 0, 0, 0.7);
  --grey: rgb(236, 239, 244);
  --box-shadow: rgba(255, 255, 255, 0.5);
}

/*                Document Styles                 */

body {
  font-family: Visby Round CF;
  font-weight: 600;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  user-select: none;
}
.content-all {
  padding-top: clamp(3em, 10vh, 4em);
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  margin-block: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 2rem;
}

.App {
  height: max-content;
  width: max-content;
  background-color: var(--background-color);
  transition: background-color 1s;
  box-sizing: border-box;
}

/*            Header Styles                   */

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  padding-block: 1em;
  white-space: nowrap;
  color: var(--text-color);
  backdrop-filter: blur(4px);
  font-size: clamp(0.5rem, 2vmax, 1rem);
  box-shadow: 0 -2px 8px var(--box-shadow);
  background-color: var(--nav-background-color);
}
.header-items {
  display: flex;
  margin: auto;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.org {
  cursor: pointer;
  font-weight: 900;
  color: var(--text-hover-color);
  font-size: clamp(0.7rem, 3vmax, 1.4rem);
}

.search-icon,
.theme {
  width: 4vmin;
  height: 4vmin;
  cursor: pointer;
  filter: var(--svg-invert);
}

/* Search Bar Clicked */

.search {
  margin: auto;
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
}

.search-gap {
  display: flex;
  column-gap: 2vw;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.search-bar-clicked {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  font-size: clamp(0.8rem, 2vmin, 1rem);
}
.search-icon-in {
  left: 0;
  z-index: 4;
  width: 4vmin;
  height: 4vmin;
  padding: 1em;
  position: absolute;
}
.search-box {
  width: 44vw;
  outline: none;
  padding: 1em;
  border: none;
  border-radius: 2em;
  padding-left: 4em;
}

/*                   Body Styles           */

.main-body {
  width: 80vw;
  margin: auto;
  font-size: clamp(0.5rem, 2vmin, 1rem);
}
.sticky {
  position: sticky;
  bottom: 0;
  right: 0;
  background-color: yellow;
}
.about-us {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 80vw;
  height: 30vh;
  column-gap: 10vw;
  margin-bottom: 8vh;
  color: var(--text-color);
  background-image: url("./media/background_illustration.svg");
  background-repeat: no-repeat;
  background-position: 20% 70%;
}
.heading {
  display: flex;
  white-space: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: clamp(1em, 2vmax, 2em);
}
.heading h1 {
  margin: 0;
}
.content-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 38vw;
  font-size: clamp(0.5rem, 2vmin, 1rem);
}
.home-items {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2vw;
}
.counters {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  row-gap: 2vh;
}
.customers,
.countries {
  box-sizing: border-box;
  height: 24vh;
  width: 18vw;
  padding: 2em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: clamp(0.5rem, 2vmin, 1rem);
  background-color: var(--grey);
  border-radius: 2em;
}
.big-numbers {
  font-size: clamp(2em, 4vmax, 4em);
}
.big-numbers::after {
  content: "+";
}
.img-container {
  width: 60vw;
  height: 50vh;
}
.home-image {
  border-radius: 2em;
  width: 60vw;
  height: 50vh;
  object-fit: cover;
}
.line {
  margin-block: 8vh;
}

/*           Page Two /Three         */

.page-box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: fit-content;
  column-gap: 2vw;
  color: var(--text-color);
  font-size: clamp(0.5rem, 2vmin, 1rem);
}
.box-container {
  position: relative;
}
img[alt="rs"] {
  width: 25vw;
  height: 60vh;
  border-radius: 2em;
  object-fit: cover;
}
.box-info h2:hover {
  cursor: pointer;
  color: var(--text-hover-color);
}
.box-all {
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
}
.box-info {
  position: absolute;
  bottom: 4vh;
  border-radius: 2em;
  backdrop-filter: blur(10px);
  left: 2vw;
  width: 21vw;
  height: fit-content;
  box-sizing: border-box;
  padding: 2em;
  background-color: var(--research-info-color);
  text-align: center;
}
.publication h1,
.services h1 {
  color: var(--text-hover-color);
}
.text-box {
  word-break: break-all;
  white-space: normal;
}

/*                    Footer Styles           */

footer {
  font-size: clamp(0.5rem, 2vmin, 1rem);
  white-space: nowrap;
  color: var(--text-color);
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  transition: color 1s, background-color 1s;
  margin-top: 10vh;
  box-shadow: 0 2px 8px var(--box-shadow);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1em;
  column-gap: 4vw;
  max-width: 80vw;
}
/*               Contact Styles         */

.contact-page {
  width: 80vw;
  margin: auto;
  font-size: clamp(0.5rem, 2vmin, 1rem);
  color: var(--text-color);
  color: var(--text-color);
}
.contact-page-heading {
  color: var(--text-hover-color);
}
.contact-info {
  display: flex;
  padding-block: 4vh;
  justify-content: space-between;
}
.contact-details,
.socials-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact-details button,
.socials-contact button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 1em;
  border: none;
  box-shadow: 0 0 8px var(--box-shadow);
  transition: transform 0.3s ease;
}
.contact-details button:hover,
.socials-contact button:hover {
  transform: scale(110%);
}
.contact-details a {
  text-decoration: none;
  color: var(--text-hover-color);
}
.contact-buttons {
  display: flex;
  column-gap: 2vw;
}
img[alt="c"],
img[alt="s"] {
  height: 4vmin;
  padding-inline: 0.5em;
}
.social-icons-links {
  display: flex;
  column-gap: 2vw;
}

/*           About US             */

.extra-text-page {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
.extra-text-page p {
  word-break: break-all;
}
.extra-text-page h1 {
  color: var(--text-hover-color);
}

.extra-text-page ul li {
  padding-block: 0.5em;
}
