.journals-page {
  width: 80vw;
  min-height: 90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--text-color);
}
.journal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  margin-block: 2vw;
  border-radius: 2em;
  box-shadow: 0 0 8px var(--box-shadow);
}
.journal-search-field input {
  outline: none;
  border: none;
  width: 40vw;
  padding: 1em;
  border-radius: 2em;
  background-color: var(--grey);
}
.journal-search-field {
  position: relative;
}
.journal-search-by {
  position: absolute;
  top: 0;
  right: 0;
}
.journal-search-by,
.journal-dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 2em;
  box-shadow: 0 0 2px var(--box-shadow);
}
.journals-page-box-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 3vh;
  column-gap: 2vw;
  min-height: 55vh;
}
.journal-page-box {
  box-sizing: border-box;
  box-shadow: 0 0 10px var(--box-shadow);
  padding: 1em;
  border-radius: 1em;
  width: 39vw;
  max-height: 26vh;
}

.journal-title {
  font-weight: 800;
}
.journals-view-details-button {
  padding-block: 0.5em;
  padding-inline: 1em;
  border-radius: 2em;
  display: flex;
  align-items: center;
  background-color: #aaffcc;
  border: none;
  outline: none;
  color: var(--text-color);
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.journals-view-details-button:hover {
  background-color: #1dff77;
  cursor: pointer;
}
.journal-popup {
  border: none;
  border-radius: 1em;
  width: 60vw;
  height: 50vh;
  box-shadow: 0 0 10px var(--box-shadow);
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.dialog-journal-info {
  min-height: 40vh;
}
.journal-dialog-buttons-grp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.journal-dialog-buttons {
  border: none;
  outline: none;
  width: 10em;
  padding-block: 0.5em;
  padding-inline: 1em;
  border-radius: 2em;
  background-color: #aaffcc;
  color: black;
}
.nav-button {
  filter: var(--svg-invert);
}
.nav-disabled {
  filter: invert(80%);
}
.button-disabled {
  border: none;
  outline: none;
  width: 10em;
  padding-block: 0.5em;
  padding-inline: 1em;
  border-radius: 2em;
  background-color: #aaffcc;
  color: black;
  background-color: grey;
}
.result-info {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  color: var(--text-color);
}
.pagination-box {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  column-gap: 0.6em;
}
.pagination-box img[alt="navigation"] {
  height: 6vmin;
}

.active-page,
.pagination-number {
  display: flex;
  justify-content: center;
  padding: 0.6em;
  width: 2vmin;
  border-radius: 0.3em;
  color: var(--text-color);
  background-color: var(--page-box);
}
.active-page {
  color: var(--text-hover-color);
  background-color: white;
  box-shadow: 0 0 4px var(--box-shadow);
}
